name: Publish to NPM

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Set up publish to NPM (via .npmrc)
        uses: actions/setup-node@v6
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Initialize environment
        uses: ./.github/actions/setup
      - name: Build & test
        uses: ./.github/actions/build
      - run: npm publish
        working-directory: ./packages/utils
