name: Publish to NPM

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Initialize environment
        uses: ./.github/actions/setup

      - name: Build & test
        uses: ./.github/actions/build

      - name: Upgrade NPM for OIDC support
        run: npm install -g npm@latest

      - run: npm publish
        working-directory: ./packages/utils
